.placeHolderImage {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.productCard {
  margin: 5%;
  width: 40%;
  min-height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff9f0;
  gap: 10px;
}

.productCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  scale: 1.1;
}

.pHeading {
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.05em;
}

.pNames {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 464px) {
  .productCard {
    width: 80%;
    margin: 5% 10%;
  }
  .pHeading {
    font-size: 30px;
    line-height: 40.5px;
  }
  .pNames {
    font-size: 20px;
  }
}
