body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #ffffff;
  color: #000000;
}

button {
  color: #fff;
  background-color: #fb6738;
  border: none;
  box-shadow: 0px 3px 12px 0px #fca386 inset;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 10%;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}
